.nav-item {
    margin-right: 36px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    font-weight: 800;
    margin: 0;
    padding: 0;
    vertical-align: super;
    font: 20px 'opensans-bold', sans-serif;
    letter-spacing: 2.5px;
    color: #fff;
}


.nav-link:focus {
    outline: #FFF 1px solid;
}

@media screen and (max-width: 767.5px) {
    .nav-item {
        margin-right: 0;
        margin-bottom: 18px;
    }
    .nav-item:last-child {
        margin-bottom: 0;
    }
    .nav-link {
        font-size: 12px;
    }
}

.current {
    color: #F06000;
}